/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style the logo */
.navbar-logo img {
    max-width: 100px; /* Adjust the maximum width of the logo image */
    height: auto;
}

/* Style the navigation links */
.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin: 0 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* Style the burger menu for mobile */
.navbar-burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

/* Media query for mobile view */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-burger {
        display: flex;
    }
}